repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        files: \.rs$
        pass_filenames: false
        args: ["--all", "--", "--check"]
      
      - id: cargo-clippy-parser
        name: cargo clippy (ustar-parser)
        entry: cargo clippy
        language: system
        files: ustar-parser/.*\.rs$
        pass_filenames: false
        args: ["--all-targets", "--all-features", "-p", "ustar-parser", "--", "-D", "warnings"]
      
      - id: cargo-clippy-tools
        name: cargo clippy (ustar-tools) 
        entry: cargo clippy
        language: system
        files: ustar-tools/.*\.rs$
        pass_filenames: false
        args: ["--all-targets", "--all-features", "-p", "ustar-tools", "--", "-D", "warnings"]
      
      - id: cargo-test-parser-lib
        name: cargo test (ustar-parser lib only)
        entry: cargo test
        language: system
        files: ustar-parser/.*\.rs$
        pass_filenames: false
        args: ["--lib", "--all-features", "-p", "ustar-parser"]
      
      - id: cargo-test-tools-lib
        name: cargo test (ustar-tools lib only)
        entry: cargo test
        language: system  
        files: ustar-tools/.*\.rs$
        pass_filenames: false
        args: ["--lib", "--all-features", "-p", "ustar-tools"]