repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        entry: sh -c
        language: system
        files: \.rs$
        pass_filenames: false
        args: ['cargo clippy --all-targets --all-features -- -D warnings -A clippy::expect_fun_call -A clippy::single_component_path_imports -A clippy::new_without_default -A clippy::needless_borrows_for_generic_args -A clippy::ptr_arg -A clippy::useless_conversion -A clippy::let_and_return -A clippy::redundant_pattern_matching -A clippy::manual_is_multiple_of -A clippy::needless_range_loop -A clippy::implicit_saturating_sub -A clippy::useless_vec']