[package]
name = "ustar"
version = "0.1.0"
edition = "2021"

[lib]
name = "ustar"

[[bin]]
name = "ustar-dumper"
path = "src/bin/ustar-dumper.rs"

[[bin]]
name = "ustar-benchmark"
path = "src/bin/ustar-benchmark.rs"

[dependencies]
pest = "2.8.3"
pest_derive = { version = "2.8.3", features = ["grammar-extras"] }
tabled = "0.15"
clap = { version = "4.4", features = ["derive"] }

[dev-dependencies]
rstest = "0.18"
indicatif = "0.17"

[profile.release]
debug = true