[package]
name = "ustar"
version = "0.1.0"
edition = "2021"

[lib]
name = "ustar"

[[bin]]
name = "ustar-dumper"
path = "src/bin/ustar-dumper.rs"

[[bin]]
name = "ustar-benchmark"
path = "src/bin/ustar-benchmark.rs"

[[bin]]
name = "ustar-parse-debugger"
path = "src/bin/ustar-parse-debugger.rs"

 [dependencies]
pest = "2.8.3"
pest_derive = { version = "2.8.3", features = ["grammar-extras"] }
tabled = "0.15"
clap = { version = "4.4", features = ["derive"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
reqwest = { version = "0.11", features = ["json", "gzip", "blocking", "stream"] }
rand = "0.8"
tokio = { version = "1", features = ["rt-multi-thread", "macros"] }
flate2 = "1.0"
scraper = "0.18"
regex = "1"

[dev-dependencies]
rstest = "0.18"
indicatif = "0.17"

[profile.release]
debug = true